.sectionheader {
  padding: 60px 0;
}
.wrapper {
  margin: 0 70px;
}
.card_container {
  display: flex;
  align-items: flex-start;
  overflow-x: auto; /* Enable horizontal scroll */
  white-space: nowrap;
  /* margin-left: 100px; */
}
.card_container::-webkit-scrollbar {
  display: none;
}

.card {
  border-radius: 8px;
  margin-right: 1.2%;
  
  flex: 0 0 auto;
}
.card:last-child {
  margin-right: 0;
}
.card:first-child{
  /* opacity: 0.7; */
}
.icon {
  position: absolute;
  right: 3%;
  cursor: pointer;
  cursor: pointer;
}
.pod_image {
  border-radius: 8px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: 2px solid transparent;
}

.pod_image:hover{
  border-color: #fff;
}
.pod_content {
  margin-top: 10px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  /* margin-bottom: 8px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  gap: 3px;
}
.description {
  font-size: 16px;
  font-weight: 300;
  color: #9f9f9f;
  margin-top: -4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.slider_icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(100%);
  width: 30px;
  height: 30px;
  z-index: 1;
}