.main {
  width: 100%;
  background: linear-gradient(
    156.2deg,
    #182744 16.79%,
    rgba(96, 112, 139, 0.86) 364.7%
  );
  height: 100%;
  padding: 10px 10px;
  display: flex;
  gap: 10px;
  position: fixed;
  bottom: 0;
  flex-direction: column;
}
.Chapter_tabs {
  max-height: 365px;
  overflow: auto;
}

.Chapter_tabs::-webkit-scrollbar {
  width: 5px;
}

.Chapter_tabs::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.Chapter_tabs::-webkit-scrollbar-thumb:horizontal {
  height: 5px;
}
.tab_one {
  border-bottom: 2px solid #db2b4b;
}
.top_section {
  display: flex;
  justify-content: space-between;
  padding: 11px 40px;
}
.date_time {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.music {
  margin: 0 auto;
  height: 151px;
}

.music .musicimg img {
  border-radius: 10px;
  height: 150px;
  width: 149px;
  opacity: 0.4;
}
.music_box {
  display: flex;
  align-items: center;
  gap: 30px;
}
.items {
  top: -139px;
  left: 108px;
  position: relative;
}

.music_details {
  margin-left: 90px;
}
.title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}
.description {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.music_times {
  display: flex;
  align-items: center;
  gap: 31px;
  justify-content: center;
  margin-top: 30px;
  margin-left: -15px;
}
.time {
  font-size: 15px;
}
.chapter {
  background: #d9d9d91a;
  width: 802px;
  height: auto;
  border-radius: 5px;
  margin: 0 auto;
  padding: 20px;
}
.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
  padding: 15px 0;
}
.tab_one {
  font-size: 20px;
  font-weight: 600;
}
.tab_items {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 5px 20px;
}

.chapter_image img {
  border-radius: 10px;
}
.item_box {
  display: flex;
  align-items: center;
  background: #252931b2;
  width:672px;
  border-radius: 7px;
  height: 80px;
  justify-content: space-between;
  padding: 4px 10px 4px 4px;
  
}
.item_boxes {
  display: flex;
  align-items: center;
  width: 672px;
  height: 80px;
  justify-content: space-between;
  padding: 4px 10px 4px 4px;
  border-bottom: 0.5px solid #00000033;
}
.play_icon {
  position: relative;
  top: -49px;
  left: 21px;
  height: 0;
}
.menu_icon {
  position: relative;
  top: -50px;
}
.image_play {
  display: flex;
  align-items: center;
  gap: 15px;
}
.tab {
  font-size: 20px;
  font-weight: 600;
}
.progress_box {
  width: 75%;
  height: 10px;
  background: #d9d9d9;
  border-radius: 20px;
}
.progress_bar {
  width: 171px;
  background: #95543d;
  height: 10px;
  border-radius: 20px 0px 0px 20px;
}
.player_section {
  display: flex;
  align-items: center;
  gap: 254px;
  margin-left: 41%;
}
.playing_items {
  display: flex;
  gap: 45px;
  margin-top: 17px;
  align-items: center;
}
.player_box {
  background: #d9d9d9;
  border-radius: 50%;
  width: 52px;
  height: 52px;
}
.player_img {
  position: relative;
  top: 11px;
  left: 18px;
}
.bottom_section {
  display: flex;
  gap: 45px;
  justify-content: end;
}
.speed {
  /* background: #95543d66; */
  width: 40px;
  height: 30px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}
.bottom {
  width: 802px;
  height: 58px;
  border-radius: 10px;
  background: #191d24cc;
  margin: 0 auto;
  padding: 7px;
  margin-top: 30px;
}
.bottom p {
  text-align: center;
  width: 80%;
  margin-left: 35px;
  margin-bottom: 10px;
  
}

